@font-face {
  font-family: 'GHAICO';
  src:  url('fonts/GHAICO.eot?t85n7j');
  src:  url('fonts/GHAICO.eot?t85n7j#iefix') format('embedded-opentype'),
    url('fonts/GHAICO.ttf?t85n7j') format('truetype'),
    url('fonts/GHAICO.woff?t85n7j') format('woff'),
    url('fonts/GHAICO.svg?t85n7j#GHAICO') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ghaico-"], [class*=" ghaico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GHAICO' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ghaico-ghaico-area:before {
  content: "\e900";
}
.ghaico-ghaico-arrow-down:before {
  content: "\e901";
}
.ghaico-ghaico-arrow-left:before {
  content: "\e902";
}
.ghaico-ghaico-arrow-right:before {
  content: "\e903";
}
.ghaico-ghaico-arrow-up:before {
  content: "\e904";
}
.ghaico-ghaico-social-facebook:before {
  content: "\e905";
}
.ghaico-ghaico-bathrooms:before {
  content: "\e906";
}
.ghaico-ghaico-bedrooms:before {
  content: "\e907";
}
.ghaico-ghaico-brief:before {
  content: "\e908";
}
.ghaico-ghaico-calculate:before {
  content: "\e909";
}
.ghaico-ghaico-carspaces:before {
  content: "\e90a";
}
.ghaico-ghaico-cevron-down:before {
  content: "\e90b";
}
.ghaico-ghaico-cevron-left:before {
  content: "\e90c";
}
.ghaico-ghaico-cevron-right:before {
  content: "\e90d";
}
.ghaico-ghaico-cevron-up:before {
  content: "\e90e";
}
.ghaico-ghaico-circle-arrow:before {
  content: "\e90f";
}
.ghaico-ghaico-circle-arrow-down:before {
  content: "\e910";
}
.ghaico-ghaico-circle-outline:before {
  content: "\e911";
}
.ghaico-ghaico-circle-solid:before {
  content: "\e912";
}
.ghaico-ghaico-climate:before {
  content: "\e913";
}
.ghaico-ghaico-close:before {
  content: "\e914";
}
.ghaico-ghaico-download:before {
  content: "\e915";
}
.ghaico-ghaico-fittings:before {
  content: "\e916";
}
.ghaico-ghaico-floorplan:before {
  content: "\e917";
}
.ghaico-ghaico-green-home:before {
  content: "\e918";
}
.ghaico-ghaico-home:before {
  content: "\e919";
}
.ghaico-ghaico-home-build:before {
  content: "\e91a";
}
.ghaico-ghaico-home-design:before {
  content: "\e91b";
}
.ghaico-ghaico-home-save:before {
  content: "\e91c";
}
.ghaico-ghaico-landscape:before {
  content: "\e91d";
}
.ghaico-ghaico-landscaping-durable:before {
  content: "\e91e";
}
.ghaico-ghaico-landscaping-unobtrusive:before {
  content: "\e91f";
}
.ghaico-ghaico-landscaping-versatile:before {
  content: "\e920";
}
.ghaico-ghaico-location:before {
  content: "\e921";
}
.ghaico-ghaico-menu:before {
  content: "\e922";
}
.ghaico-ghaico-minus:before {
  content: "\e923";
}
.ghaico-ghaico-play:before {
  content: "\e924";
}
.ghaico-ghaico-plus:before {
  content: "\e925";
}
.ghaico-ghaico-portal-design:before {
  content: "\e926";
}
.ghaico-ghaico-portal-faq:before {
  content: "\e927";
}
.ghaico-ghaico-portal-forms:before {
  content: "\e928";
}
.ghaico-ghaico-portal-marketing:before {
  content: "\e929";
}
.ghaico-ghaico-portal-menu:before {
  content: "\e92a";
}
.ghaico-ghaico-portal-partners:before {
  content: "\e92b";
}
.ghaico-ghaico-portal-reports:before {
  content: "\e92c";
}
.ghaico-ghaico-portal-sales:before {
  content: "\e92d";
}
.ghaico-ghaico-portal-shop:before {
  content: "\e92e";
}
.ghaico-ghaico-portal-toolbox:before {
  content: "\e92f";
}
.ghaico-ghaico-search:before {
  content: "\e930";
}
.ghaico-ghaico-search-location:before {
  content: "\e931";
}
.ghaico-ghaico-sign-out:before {
  content: "\e932";
}
.ghaico-ghaico-social-instagram:before {
  content: "\e933";
}
.ghaico-ghaico-social-pinterest:before {
  content: "\e934";
}
.ghaico-ghaico-social-twitter:before {
  content: "\e935";
}
.ghaico-ghaico-tick:before {
  content: "\e936";
}
.ghaico-ghaico-tools:before {
  content: "\e937";
}
