/*
Theme Name: Twenty Seventeen
Theme URI: https://www.gsquared.com.au/
Author: GSQUARED, Madan Karki
Author URI: https://www.gsquared.com.au/
Version: 201.1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen

*/
@font-face {
	font-family: 'DIN';
	src: url(fonts/DIN-Condensed-Light.otf);
	font-weight: normal;
  font-style:normal;
}
@font-face {
	font-family: 'DINNeuzeit';
	src: url(fonts/DINNeuzeitGroteskStd-BdCond.otf);
	font-weight: normal;
  font-style:normal;
}
html {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
   -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
   -ms-user-select: none; /* IE10+ */
}
body {
    overflow-x: hidden;
    font-family: 'Roboto';
    font-size: 16px;
    color: #777777;

}
.text-medium {
    font-size: 18px;
    line-height: 1.8;
}
h1,
.h1 {
    font-family: 'DINNeuzeit';
    font-weight: Condensed bold;
    font-size: 50px;
    line-height:44px;
    color: #274279;
}
h2,
.h2 {
    font-family: 'DINNeuzeit';
    font-weight: Condensed bold;
    font-size: 36px;
    line-height:40px;
    color: #274279;
}
h3,
.h3 {
    font-family: 'DIN';
    font-weight: Condensed Light;
    font-size: 28px;
    color: #274279;
    line-height:32px;
}
h4,
.h4 {
    font-family: 'DIN';
    font-weight: Condensed Light;
    font-size: 26px;
    color: #274279;
    line-height:30px;
}
h5,
.h5 {
    font-family: 'DIN';
    font-weight: Condensed Light;
    font-size: 24px;
    color: #274279;
    line-height:28px;
}
h6,
.h6 {
    font-family: 'DIN';
    font-weight: Condensed Light;
    font-size: 22px;
    color: #274279;
    line-height:26px;
}

a {
    color: #777777;
}
a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #557700;
}
video {
    width: 100%;
    z-index: 1;
    display: block;
}
.text-color1 {
    color: #484848;
}
.site-branding .navbar-brand {
    max-width: 144px;
}
.site-branding .navbar-brand img {
    width: 100%;
    height: auto;
}
.site-branding .navbar-brand:hover {
    opacity: 1;
}
header#masthead {
    padding: 8px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
/*navigation*/
nav.navbar.site-branding {
    width: 100%;
}
.navbar .navbar-nav .nav-item a.nav-link {
    font-size: 15px;
    font-weight: 700;
    color: #484848;
}
li.nav-item.dropdown .dropdown-menu {
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    background: #fff;
    border-radius: 5px !important;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}
li.nav-item.dropdown .dropdown-menu::before,
li.nav-item.dropdown .dropdown-menu::after {
    content: '';
    position: absolute;
    top: -18px;
    left: 30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}
li.nav-item.dropdown .dropdown-menu::after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #f0f1e7;
}
.dropdown-item-icon span {
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
    background: #99AA00;
    border-radius: 50%;
    top: 16px;
}
input#searchTextField {
    width: 196px;
    height: 40px;
    text-indent: 25px;
    font-size: 12px;
    color: #999999;
    border-radius: 4px;
    border: 2px solid #999999;
}
span.search-place-icon {
    position: absolute;
    padding: 0 10px;
    font-size: 20px;
    color: #99AA00;
}
.gha-btn.top-enquiry {
    width: 163px;
    height: 40px;
}
.page-banner {
    background-size: cover !important;
    min-height: 500px;
}
.page-banner-search {
    position: absolute;
    bottom: -15%;
    left: 0;
    right: 0;
    max-width: 670px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px 20px;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 4;
}
.page-banner-search .ghenquiry span {
    font-size: 18px;
}
.page-banner-search .ghenquiry input[type="text"] {
    border: 1px solid #999999;
    margin-left: 10px;
}
.page-banner-search .ghenquiry a {
    background: #99AA00;
}
.page-banner-search #bsearch input[type=submit] {
    height: 52px;
    position: relative;
    top: -2px;
    padding: 0 25px;
    background: #99AA00;
    border-color: #99AA00;
    color: #ffffff;
}
.page-banner .gha-inner-inside {
    margin: 0 auto;
}
.page-banner .gha-inner-inside p {
    line-height: 1;
}
.banner-text {
    max-width: 718px;
    margin: auto auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1;
    color: #ffffff;
}
.page-banner .page-content p {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.6;
}
.page-template-greenhomesloanspage .banner-text {
    max-width: initial;
}
.gha-btn {
    background: #557700;
    border: none;
    box-shadow: none;
    color: #ffffff !important;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 20px;
    -webkit-appearance: none;
    appearance: none;
}
.btn-outline-success {
    color: #557700;
    border-color: #557700;
}
.dh-search {
    margin: 8rem 0 3rem 0;
}
.dh-search-wrapp {
    border: 1px solid #e0e0e0;
}
.dh-search-wrapp form > div {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}
.dh-search-wrapp form select {
    height: 36px;
    padding: 0 10px;
}
.dh-search-wrapp form > div input[type="number"] {
    text-align: center;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 22px;
}
.dh-filter-btn button.btn {
    background: #99AA00;
    border-color: #99AA00;
    color: #ffffff;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
    background: #557700;
    border-color: #557700;
}
.home-design {
    position: relative;
    background: #ffffff;
    margin-bottom: 30px;
}
.home-design h3 {
    position: absolute;
    bottom: 5px;
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}
.home-design-image {
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#2b2b2b00, #00000052);
    -webkit-background: linear-gradient(#2b2b2b00, #00000052);
    -moz-background: linear-gradient(#2b2b2b00, #00000052);
    -ms-background: linear-gradient(#2b2b2b00, #00000052);
    -o-background: linear-gradient(#2b2b2b00, #00000052);
}
.design-meta {
    padding: 15px 0;
    overflow: hidden;
}
.design-meta .meta-in {
    float: left;
    margin-right: 15px;
}
.design-meta span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #777777;
}
.design-meta span.mimg {
    display: inline-block;
    margin-right: 8px;
}
.design-meta span.mimg span {
    font-size: 24px;
    color: #99AA00;
    font-weight: 400;
}
.listing-more a {
    width: 200px;
    height: 55px;
    line-height: 40px;
    margin: 0 auto;
}
.listing-more p {
    display: block;
    width: 100%;
    margin-top: 20px;
}
.search_status {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}
.custom-build {
    background: linear-gradient(to right, #557700, #99AA00);
    -webkit-background: linear-gradient(to right, #557700, #99AA00);
    -moz-background: linear-gradient(to right, #557700, #99AA00);
    -ms-background: linear-gradient(to right, #557700, #99AA00);
    -o-background: linear-gradient(to right, #557700, #99AA00);
    color: #fff;
}
.custom-build .inner {
    padding: 150px 0;
    text-align: center;
}
.custom-build .inner h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 40px;
}
.custom-build .inner form span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #DDDDDD;
    margin-right: 10px;
}
.custom-build .inner form input {
    border: none;
    width: 289px;
    height: 52px;
    padding: 0 15px;
}
.custom-build .inner form a {
    color: #fff;
    border-color: #fff;
    height: 52px;
}
.subscribe {
    margin-top: 40px;
    text-align: center;
    padding: 40px 0;
}
.subscribe h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.subscribe input {
    height: 52px;
    padding: 0 15px;
    margin-right: 0.5rem;
}
.subscribe input[type="text"] {
    width: 25%;
}
.subscribe input[type="email"] {
    width: 40%;
}
.subscribe input.btn {
    position: relative;
    top: -3px;
}
.subscribe a {
    height: 52px;
    position: relative;
    top: -2px;
    padding: 12px 30px;
}
.widget-content a img {
    width: 85px;
    margin-bottom: 14px;
}
a.mba-logo {
    width: 150px;
    display: block;
    height: auto;
}
a.mba-logo img {
    width: 100%;
}
.widget-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #484848;
    margin-bottom: 20px;
}
.widget-content ul {
    list-style: none;
    padding: 0;
}
.widget-content ul li,
.widget-content p  {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #777777;
    padding: 7px 0;
}
.widget-content p.email,
.widget-content p.address {
    font-weight: 400;
}
.widget-content p {
    margin: 0;
    padding: 1px 0;
}
.footer-bottom {
    margin-top: 40px;
}
.social-link {
    margin-top: 10px;
}
.social-link a {
    display: inline-block;
    margin-right: 0.5rem;
}
.social-link a span {
    font-size: 32px;
    color: #000;
}
span.copyright,
.by {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #999999;
}
.divider {
    color: #707070;
}
.links a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #777777;
}
.footer-bottom {
    margin-bottom: 1rem;
}
#section-1 {
    margin-bottom: 150px;
    position: relative;
    text-align: center;
}
.video-container {
  overflow: hidden;
  position: relative;
}
.home .video-container {
  max-height: 600px;
}
.home .video-container video.banner-video {
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -o-transform: translateY(-15%);
  transform: translateY(-15%);
}
.home video.workshop-video.banner-video {
    background:transparent url('assets/images/video-bg-homep.jpg') no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.banner-inner,
.page-template-page-template-testimonials #section-1 .banner-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #ffffff;
    z-index: 3;
}
.page-template-page-template-testimonials #section-1 .banner-inner {
    margin-top: 0px !important;
    top: initial;
    bottom: 0;
}
.overlay-1 {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}
#section-1 .banner-inner {
    top: 45%;
}
.page-template-page-template-customer-testimonials #section-1 .banner-inner {
    top: 50%;
}
#section-2 {
    padding: 80px 0;
}
#section-2 h1 {
    font-weight: 400;
    font-size: 40px;
    color: #484848;
}
#section-2 h1 + p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
}
#section-2 h2 {
    font-weight: 700;
    font-size: 26px;
    color: #484848;
}
#section-2 h2 + p {
    font-weight: 400;
    font-size: 16px;
}
.square {
    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 0 0 1.5rem 0;
    padding: 20px;
    border-radius: 5px;
}
.square.row span {
    font-size: 52px;
    color: #CCD100;
}
#section-3 .promises-background {
    background: url(assets/images/home-six-promises.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px 0 60px 0;
}
.section-headline {
    max-width: 555px;
    margin: 0 auto 40px auto;
    text-align: center;
}
.section-headline h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    color: #484848;
    text-transform: capitalize;
}
.section-headline p {
    font-size: 12px;
}
#section-3 .promises-background .row.row-eq-height > div {
    margin-bottom: 2rem;
}
.list-wrapper {
    position: relative;
    min-height: 220px;
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 20px 20px 40px;
}
.v-text {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    float: left;
    font-weight: 700;
    font-size: 14px;
    color: #FFBB00;
    display: inline-block;
    padding: 8px 0px 0 7px;
    text-transform: uppercase;
    left: 0;
    top: 64px;
}
.list-wrapper h4 {
    font-weight: 700;
    font-size: 22px;
    color: #484848;
}
#section-4 {
    padding: 80px 0 40px 0;
}
.home-featured .slick-slide {
    padding: 0 15px;
}
.home-design h3 a {
    color: #fff;
}
.button-list {
    margin: 0 auto;
}


/*timeline css*/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #99AA00;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFBB00), to(#99AA00));
    background: -webkit-linear-gradient(top, #FFBB00 0%, #99AA00 100%);
    background: -o-linear-gradient(top, #FFBB00 0%, #99AA00 100%);
    background: linear-gradient(to bottom, #FFBB00 0%, #99AA00 100%);
}
.timeline-wrapper {
    position: relative;
}
/* Container around content */
.timeline-container {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.timeline-container > img {
    display: none;
}
/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #f4b900;
    border: 4px solid #f4b900;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the timeline-container to the left */
.left {
    left: 0;
}

/* Place the timeline-container to the right */
.right {
    left: 50%;
}

.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.timeline p {
    font-size: 22px;
    color: #484848;
    line-height: 1.3;
    margin-bottom: 5px;
}
.timeline-image {
    position: absolute;
    top: 0;
    width: 150px;
    padding: 10px 35px;
}
.tmlr .timeline-image {
    right: 55%;
}
.tmll .timeline-image {
    left: 55%;
}
.timeline-container.left {
    text-align: right;
}
.timeline-container.right {
    text-align: left;
}
a.tml-popover {
    color: #557700;
    font-weight: 700;
    font-size: 14px;
}
.page-template-page-template-customer-testimonials .gha-customer-stories {
    box-shadow: -1px 2px 12px 5px #f3f3f3;
    padding: 15px;
}
#loadingDiv {
    /*display: block;*/
    width: 100%;
}
#loadingDiv img {
    width: auto;
}
.section-headline p {
    font-size: 12px;
}
.see-how-build .section-headline p {
    font-size: 20px;
    margin-bottom: 2rem;
}
#section-5 {
    padding: 40px 0;
}
.see-how-build .section-headline {
    margin-top: 50px;
}
#section-7 {
    background: linear-gradient(to right, #557700, #99AA00);
    padding: 80px 0;
    text-align: center;
}
#section-7 .highlight-build {
    margin: 0 auto;
}
#section-7 .highlight-build {
    margin: 0 auto;
    color: #ffffff;
}
#section-7 .highlight-build .heading-1,
.banner-inner .heading-1 {
    margin-bottom: 30px;
    color: #ffffff;
}
.ghenquiry input[type="text"] {
    width: 289px;
    height: 52px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
}
#section-7 .ghenquiry input.btn {
    height: 52px;
    position: relative;
    top: -2px;
    padding: 0 25px;
    color: #ffffff;
    border: 2px solid #fff;
    margin-left: 1rem;
}
#section-7 .ghenquiry input.btn:hover {
    border: 2px solid #28a745;
}
.ghenquiry a {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px 30px;
    position: relative;
    top: -3px;
    margin-left: 10px;
}
/*27/6/2018 madan*/
.home_highlight {
    background: #F2F2F2;
}
.home_highlight .homed-specs {
    padding: 40px 0;
}
.homed-specs .hdhighlight-text {
    font-weight: 700;
    font-size: 10px;
    color: #484848;
    background: #CCD100;
    display: inline-block;
    padding: 1px 6px;
    border-radius: 4px;
}
.homed-specs h1 {
    font-weight: 700;
    font-size: 42px;
    color: #484848;
    margin: 10px 0;
}
.homed-feature img {
    width: 100%;
    height: auto;
}
.hd_meta {
    text-align: center;
}
.hd_meta .meta-in {
    width: 42%;
    height: 155px;
    float: left;
    margin: 2%;
    background: #ffffff;
    padding: 40px 0;
}
.hd_meta .meta-in img {
    width: 45px;
}
.hd-specs {
    margin-top: 60px;
}
#hd-floorplan img {
    width: 100%;
    height: auto;
}
.linked-menu {
    padding: 15px;
    border: 1px solid #DDDDDD;
    margin-bottom: 40px;
}
.linked-menu a {
    padding: 10px 15px;
    color: #484848;
    font-weight: 800;
    font-size: 0.875rem;
}
.linked-menu a:hover,
.linked-menu a:focus {
    color: #99AA00;
}
.hd-eef-list {
    text-align: center;
}
.hd-eef-wrap {
    width: 216px;
    height: 216px;
    background: #f2f2f2;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
.hd-eef-wrap img {
    width: 130px;
}
.hd-eef-wrap span {
    display: block;
}
#hd-amenities ul,
#hd-inclusion ul {
    display: inline-block;
    float: left;
}
#hd-amenities p,
#hd-inclusion p
#hd-amenities div,
#hd-inclusion div {
    display: block;
    width: 100%
    overflow: hidden;

}
/*video modal*/
.modal-lg {
    max-width: 75%;
}
.banner-inner .videoplay {
    width: 50px;
    display: block;
    margin: 0 auto;
}
.gha-page-heading + .page-content + .videoplay {
    position: relative;
    top: -75px;
    left: 32px;
}
.modal-dialog.modal-dialog-centered.modal-lg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
}
.modal-content {
    height: 100%;
    background: none;
    border: none;
}
.modal-header {
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    text-align: center;
}
.modal-header .close {
    margin: 0;
    opacity: 1;
    font-size: 24px;
}
.modal-header .close span {
    font-weight: 700;
    color: #ffffff;
}
.modal-body {
    height: 100%;
    padding: 0;
}
.modal-body video,
.modal-body iframe {
    width: 100%;
    height: 100% !important;
}
/*builder-form*/
.builder-p-details {
    padding-top: 90px;
}
.builder-p-details h2 {
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}
.bilder-image {
    width: 120px;
    height: 120px;
    margin-left: 40px;
    float: left;
}
.bilder-image img {
    height: inherit;
    border-radius: 50%;
}
.builder-contct-info {
    float: left;
    margin-left: 32px;
    text-align: left;
}
.builder-contct-info p {
    margin-bottom: 6px;
}
.builder-contct-info p:first-child {
    font-weight: 700;
}
.builder-connect .wpcf7 {
    display: inline-block;
    text-align: left;
    float: left;
    padding: 26px 35px;
    background: #ffffff;
    border-radius: 5px;
}
.builder-connect .wpcf7 h2 {
    margin: 25px 0;
    font-size: 22px;
    font-weight: 700;
    color: #484848;
}
.builder-connect .wpcf7 label input {
    padding: 10px;
}
.builder-connect input.wpcf7-submit,
.builder-connect input.gform_button.button,
.popupEnquiry input.gform_button.button {
    min-width: 150px;
    height: 50px;
    margin-top: 20px;
    padding: 0 40px !important;
    background: #557700;
    border: 1px solid #707070;
    color: #ffffff;
    border-radius: 7px;
}
.gha-faq {
    padding: 3rem 0;
}

.energy-efficient-features .tile {
    height: 100%;
    background: #F2F2F2;
    padding: 0 1rem 0.5rem;
}

.energy-efficient-features .tile img {
    max-height: 120px;
    width:auto;
}

#faq-accordion .btn {
    color: #557700;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: normal;
    text-align: left;
    padding-left: 0;
}
#faq-accordion .btn:hover {
    color: #99aa00;
}
#faq-accordion .card-header {
    border-bottom: 1px solid #DDDDDD;
    background: none;
}
#faq-accordion .card {
    border: none;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 9999;
}

.sticky-nav + .hd-specs {
  padding-top: 100px;
}
.hero-nav {
  position: relative;
  color: #ffffff;
}
.hero-nav img {
  min-height: 430px;
}
.hero-nav .hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hero-nav .hero-nav-bar {
  border-bottom: 1px solid #fff;
}
.hero-nav .hero-nav-bar a {
  color: rgba(255, 255, 255, 0.7);
}
.hero-nav .hero-nav-bar a:hover, .hero-nav .hero-nav-bar a:focus {
  color: white;
}
.hero-nav .hero-nav-bar h1 {
  font-size: 1.125rem;
  font-weight: bold;
}
.hero-nav .hero-nav-bar .dropdown-menu a {
  color: #333;
}

#green-tiles .row {
  padding-right: 15px;
  padding-left: 15px;
}
#green-tiles .tile:nth-child(1) {
  background-color: #ccd100;
  font-weight: 500;
}
#green-tiles .tile a {
  color: #ffffff;
  font-weight: 700;
}
#green-tiles .tile a span {
    margin-left: 10px;
    position: relative;
    top: 2px;
}
#green-tiles .tile:nth-child(1) a {
  color: #484848;
}
#green-tiles .tile:nth-child(2),
#green-tiles .tile:nth-child(2) h4 {
  background-color: #99AA00;
  color: #ffffff;
  font-weight: 500;
}
#green-tiles .tile:nth-child(3),
#green-tiles .tile:nth-child(3) h4 {
  background-color: #557700;
  color: #ffffff;
  font-weight: 500;
}

.environment-impact {
    background: url(assets/images/world-skyline.gif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 6rem 0;
    position: relative;
}

/*custom home design*/
.banner-text h1 {
    color: #ffffff;
    margin-bottom: 20px;
}
.gha-inner-inside .page-content p {
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
}
#section-6 .gha-inner-inside .page-content p {
    line-height: 1.5;
}
.container-wrapper {
    max-width: 88%;
    margin: 0 auto;
}
.ideology-text,
.ideology-text p {
    font-weight: 300;
    font-size: 28px;
    color: #777777;
    margin-bottom: 40px;
    padding: 0 15px;
}
.gha-ideology {
    position: relative;
    margin-top: 150px;
    margin-bottom: 80px;
}
.ideo-title {
    position: absolute;
    bottom: 30px;
    padding: 0 45px;
}
.ideo-title h3 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
.ideo-title path#svg_1 {
    fill: #fff;
}
.ideo-item {
    height: 448px;
}
.ideo-item-bg {
    height: inherit !important;
    /*background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;*/
}
.ideo-item:nth-child(2) .ideo-item-bg {
    background-position: 28% 0% !important;
}
.ideo-item:nth-child(3) .ideo-item-bg {
    background-position: 40% 20% !important;
}
.ideo-item-bg.sl {
    background-position: 42% 20% !important;
}
.ideo-item:nth-child(3) .ideo-item-bg.sl,
.ideo-item:nth-child(2) .ideo-item-bg.sl {
    background-position: 0% 20% !important;
}
.ideo-title span {
    color: #ffffff;
    font-size: 82px;
    margin-bottom: 20px;
    display: block;
}
.trending-design-insight {
    margin-bottom: 80px;
}
.trending-design-insight .td-text {
    max-width: 452px;
    padding: 55px 60px;
    font-size: 36px;
    color: #ffffff;
    background: #99AA00;
    margin: 60px 0;
    display: inline-block;
}
.trending-design-insight.sl .td-text {
    font-size: 32px;
}
.steps-chd {
    padding: 80px 0;
}
.steps-chd h3 {
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-bottom: 60px;
}
.chd-steps-item.row {
    max-width: 570px;
    margin: 0 auto;
    text-align: left;
}
.chd-steps-item.row h4 {
    font-weight: bold;
    font-size: 14px;
    color: #999999;
}
.chd-steps-item.row p {
    color: #484848;
}
.chd-steps-item.row {
    max-width: 570px;
    margin: 0 auto 30px auto;
    text-align: left;
    background: #ffffff;
    box-shadow: 0px 2px 3px 0px #cccccc;
}
.chd-steps-item span[class^="ghaico-"] {
    font-size: 72px;
    padding: 20px 0;
    color: #CCD100;
}
.chd-steps-item .col-sm-3 {
    text-align: center;
}
.chd-steps-item.row {
    max-width: 570px;
    margin: 0 auto 30px auto;
    text-align: left;
    background: #ffffff;
    box-shadow: 0px 2px 3px 0px #cccccc;
    padding: 30px 20px;
    border-radius: 5px;
}
.start-trial {
    margin-top: 20px;
}
.start-trial a.btn-trial {
    width: 570px;
    background: #557700;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    height: 72px;
    line-height: 72px;
    padding: 0;
}
.start-trial a.btn-trial:hover {
    background: #99AA00;
}
.sl-bg-r {
    background-size: contain !important;
    background-position: 100% 100% !important;
    margin-bottom: 80px;
}
.sl-bg-r .sl-bg-r-txt,
.sl-bg-l .sl-bg-l-txt {
    position: relative;
    max-width: 450px;
    padding: 120px 0;
}
.page-template-become-a-gha-builder .sl-bg-r-txt {
    max-width: 500px;
    padding: 50px 0;
}
.sl-bg-l .sl-bg-l-txt {
    padding: 160px 0;
}
.sl-bg-r-txt h3 {
    font-weight: 700;
    font-size: 40px;
    color: #484848;
    padding-right: 55px;
    margin-bottom: 45px;
}
.sl-bg-r-txt p,
.sl-bg-l-txt p {
    font-size: 18px;
    /*line-height: 1;*/
}
.sl-bg-l {
    overflow: hidden;
    background-size: contain !important;
    background-position: 0 100% !important;
    margin-bottom: 80px;
}
.sl-bg-l-txt {
    float: right;
}
.sl-bg-l-txt img {
    width: auto;
}
.find-more1 {
    padding-top: 80px;
    padding-bottom: 120px;
}
.find-more1 .find-inner {
    color: #fff;
    text-align: center;
    padding: 90px 20px;
    background-size: cover !important;
}
.find-more1 h4 {
    color: #ffffff;
}
.find-more1 a {
    color: #fff;
    font-size: 32px;
}
.find-more1 h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #484848;
    margin-bottom: 60px;
}
.ghaico-ghaico-circle-arrow-down.ext-link:before {
    content: "\e90f";
}
.feat-ee img {
    width: auto;
    margin: 0 auto 40px auto;
}
.feat-ee h2 {
    font-size: 42px;
    font-weight: 700;
    color: #484848;
    margin-bottom: 20px;
}
.feat-ee p {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 40px;
}
.everedge {
    background: #F2F2F2;
    padding: 150px 0;
}
.feat-ee {
    max-width: 840px;
    margin: 0 auto;
}
.feat-item span[class^="ghaico-"] {
    font-size: 57px;
    color: #CCD100;
    margin-bottom: 20px;
    display: block;
}
.feat-item p {
    font-weight: 700;
    font-size: 24px;
    color: #484848;
}

/*about gha page*/
.gha-inner-inside {
    max-width: 990px;
    margin: 0 auto 80px auto;
}
.more-us .gha-inner-inside:first-child {
    margin-bottom: 120px;
}
.page-template-about-gha .banner-text {
    max-width: initial;
}
.more-us {
    padding: 100px 0;
}
.gha-inner-inside h2 {
    font-weight: 400;
    color: #484848;
}
.gha-inner-inside p {
    font-size: 18px;
    line-height: 1.8;
}
.brand-icon {
    margin-bottom: 30px;
}
.brand-icon img {
    width: auto
}
.gha-inner-inside .table {
    background: #F1F1F1;
    color: #484848;
}
.gha-inner-inside .table th {
    font-weight: 700;
    font-size: 20px;
    padding: 40px 0;
}
.gha-inner-inside  .table th:first-child {
    width: 30%;
}
.gha-inner-inside  .table th:nth-child(2) {
    width: 37%;
}
.gha-inner-inside  .table tr td:nth-child(2),
.gha-inner-inside  .table tr th:nth-child(2) {
    background: #99AA00;
    color: #ffffff;
}
.gha-inner-inside  table.table td,
.gha-inner-inside  table.table thead th {
    border-bottom: 1px solid #ffffff;
    border-top: 0;
}
.gha-inner-inside  table.table td span.ghaico-ghaico-close {
    color: #B9B9B9;
}
.gha-inner-inside  table.table tbody tr:last-child,
.gha-inner-inside  table.table tbody tr:last-child td {
    background: #fff;
    color: #777777;
}
.industry-st-contrt .gha-inner-inside {
    max-width: 640px;
}
.industry-st-contrt .gha-inner-inside h2 {
    margin-bottom: 25px;
}
.industry-st-contrt {
    padding: 100px 0;
}
.advisory-team .gha-inner-inside + .row .col-sm-12.col-md-6 {
    margin-bottom: 30px;
}
.professional-team .gha-inner-inside h2 {
    margin: 40px 0 20px 0;
}
.team-list img {
    width: auto;
}
.team-list img.img-responsive {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
p.role-title {
    color: #999999;
    font-weight: 700;
    font-size: 12px;
}
.advisory-team {
    background: #F2F2F2;
    padding: 100px 0;
}
.team-list {
    height: 100%;
    background: #ffffff;
    padding: 40px 20px;
    border-radius: 5px;
}
.page-template-become-a-gha-builder #section-1 {
    margin-bottom: 80px;
}
h1.gha-page-heading {
    max-width: 550px;
    margin-bottom: 20px;
}
h1.gha-page-heading + .page-content p {
    line-height: 1;
}
.f-ebook {
   /* position: absolute;
    bottom: 0;*/
    max-width: 304px;
    padding: 25px;
    margin-top: 30px;
    background: #99AA00;
    color: #fff;
}
.f-ebook span {
    display: block;
    font-size: 12px;
    color: #DDDDDD;
    margin-bottom: 15px
}
.f-ebook p {
    font-size: 20px;
    line-height: 1.2;
}
.f-ebook a {
    color: #fff;
}
.f-ebook a:hover {
    color: #DDDDDD;
}
.want-more {
    margin-bottom: 40px;
}
.want-more p {
    margin-bottom: 0;
}
.full-list .p-icon {
    font-size: 42px;
    width: 42px;
    height: 42px;
    display: inline-block;
    line-height: 39px;
    font-weight: 300;
    color: #fff;
    background: #99AA00;
    border-radius: 42px;
}
.full-list .p-icon + span {
    font-weight: 700;
    color: #99AA00;
    margin-left: 10px;
    position: relative;
    top: -5px;
}
.page-template-page-template-testimonials .gha-inner-inside {
    text-align: center;
}
.page-template-page-template-testimonials .gha-inner-inside {
    text-align: center;
    max-width: 700px;
}
.testimonial-list .gha-inner-inside {
    max-width: 930px;
}
.page-template-page-template-testimonials .gha-inner-inside .page-content p {
    font-weight: 500;
    font-size: 26px;
    font-style: italic;
    line-height: 1.4;
}
.testimonial-list video {
    display: block;
    width: 100%;
    height: auto;
}
.testimonial-list .col-md-6.col-lg-4 {
    margin-bottom: 30px;
}
.testimonial-list .gha-inner-inside {
    margin-bottom: 0;
}
.testimonial-list .banner-inner.text-left {
    bottom: 30px;
    top: initial;
}
.page-template-page-template-testimonials .testimonial-list .gha-inner-inside .page-content p {
    font-size: 18px;
}
.testimonial-list.f-npp {
    margin-bottom: 150px;
}
.f-npp-img {
    min-height: 105px;
}
.f-npp img {
    width: auto;
}
.f-npp p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}
a.gha-btn.btn-outline {
    display: inline-block;
    border: 1px solid #CCD100;
    border-radius: 4px;
    font-size: 15px;
    color: #484848 !important;
    background: none;
    padding: 10px 25px;
}
a.gha-btn.btn-outline:hover {
    background: #CCD100;
    color: #ffffff !important;
}
#homeloan-spec {
    margin: 150px 0;
}
#homeloan-spec .row {
    margin-bottom: 150px;
}
#homeloan-spec img {
    max-width: 300px;
}
.page-template-greenhomesloanspage .banner-inner {
    top: 0;
    bottom: 0;
}
/*acf map*/
.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
.playicon svg {
    width: 50px;
}
.playicon a.videoplay {
    margin: auto 0;
}
.editor-img img {
    width: auto;
}
#gha-display-home-sh-desc,
.gha-display-house-tour,
.gha-dh-ef,
.gha-dh-location {
    padding-top: 80px;
}
.dhome-gallery a p {
    color: #484848;
}
.dhome-gallery img {
    width: 100%;
}
/*hotspot image*/
/* Animation */
@-webkit-keyframes
pulsate {  0% {
 -webkit-transform: scale(1);
 transform: scale(1);
 opacity: 0.8;
}
 45% {
 -webkit-transform: scale(1.75);
 transform: scale(1.75);
 opacity: 0;
}
}
@keyframes
pulsate {  0% {
 -webkit-transform: scale(1);
 transform: scale(1);
 opacity: 0.8;
}
 45% {
 -webkit-transform: scale(1.75);
 transform: scale(1.75);
 opacity: 0;
}
}
/* Hotspot */

#hotspotImg {
  float: left;
  background-color: #ededed;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#hotspotImg .img-responsive { max-width: 100%; }

#hotspotImg .hot-spot {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;
  text-align: center;
  background-color: rgba(83, 164, 43, 0.8);
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  transition: all .3s ease;
}

#hotspotImg .hot-spot .circle {
  display: block;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: 15px;
  margin: -15px auto auto -15px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-radius: 50%;
  border: 15px solid #53A42B;
  opacity: 0;
  -webkit-animation: pulsate 3s ease-out infinite;
  animation: pulsate 3s ease-out infinite;
}

#hotspotImg .hot-spot .tooltip {
    background-color: #ffffff;
    color: #777777;
    display: none;
    font-size: 20px;
    opacity: 1.0;
    left: 0px;
    padding: 15px 5px;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 330px;
    height: 330px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 999;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 15px 1px #dcdcdc;
    -moz-box-shadow: 0px 4px 15px 1px #dcdcdc;
    box-shadow: 0px 4px 15px 1px #dcdcdc;
}

#hotspotImg .hot-spot .tooltip .img-row {
    width: auto;
  text-align: center;
}
#hotspotImg .hot-spot .tooltip .img-row img {
    width: auto;
}
/*hotspot image end*/

/*tab content*/
.gha-b-process-content {
    position: absolute;
    top: 50%;
    z-index: 99;
    max-width: 452px;
    padding: 30px 60px;
    background: #484848;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}
.gha-b-process-content .v-text {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    top: 35px;
    padding-top: 0;
    color: #999999;
}
.gha-b-process-content h3 {
    color: #ffffff;
}
a.tab-next {
    font-weight: 700;
    font-size: 16px;
    color: #CCD100;
}
.gha-building-process {
    background: #F2F2F2;
    padding: 80px 0;
}
.gha-building-process-tab-nav {
    background: #ffffff;
    border: none;
}
.gha-building-process-tab-nav li.nav-item {
    margin: 0 2px;
}
.gha-building-process-tab-nav li.nav-item:first-child,
.gha-building-process-tab-nav li.nav-item:last-child {
    margin: 0;
}
.gha-building-process-tab-nav li a.nav-link {
    padding: 30px 50px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    color: #557700;
    font-weight: 700;
}
.gha-building-process-tab-nav li a.nav-link.active,
.gha-building-process-tab-nav li a.nav-link:hover {
    background-color: #99AA00;
    color: #ffffff;
}
.gha-bg-link {
    padding: 80px 0;
}
.gha-bg-link img {
    width: 100%;
    height: auto;
}
.gha-bg-link .gha-bg-link-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    color: #fff;
    z-index: 99;
}
.gha-bg-link .gha-bg-link-title h4 {
    color: #ffffff;
}
.gha-bg-link .overlay-1 {
    background: rgba(0, 0, 0, 0.4);
}
.gha-bg-link .gha-bg-link-title a {
    float: right;
    position: absolute;
    right: 30px;
    bottom: 25px;
    color: #ffffff;
}
.gha-bg-link .gha-bg-link-title h4,
.gha-bg-link .gha-bg-link-title p {
    max-width: 294px;
}
.home .gha-inner-inside {
    max-width: 450px;
    margin: 0 auto;
}
/*.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}*/

#carouselExampleIndicators {
  width: 100%;
  height: auto;
  padding: 10%;
}
/*.carousel-item.active,
.carousel-control-next,
.carousel-control-prev {
    display:block;
}*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    color: #707070;
    font-size: 20px;
}
.customer-testimonial-slider .carousel-indicators li {
    background: #999999;
}
.customer-testimonial-slider .carousel-indicators li:active {
    background: #484848;
}
.ct-img img {
    width: 60px;
    border-radius: 50%;
}
.ct-p-details p {
    color: #484848;
}
.ct-p-details span {
    color: #999999;
}
.designs-thumbnail {
  position: relative;
  overflow: hidden;
}
.designs-thumbnail:before {
    content: "";
    display: block;
    padding-top: 64%;
}
.designs-thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, 0);
  left: 50%;
}
.bg-image-display {
    display: none;
}
p.gfp-name {
    font-size: 26px;
    color: #557700;
}
.gha-gobal-footprint p {
    margin: 0;
}
.gha-gobal-footprint img {
    width: 100%;
}
p.global-lunch {
    color: #999999;
}
p.sm-table-title {
    color: #fff;
    padding: 10px 15px;
    margin: 0;
}
.sm-table-list-wrapper p,
.sm-table-list-wrapper ul li {
    font-size: 14px;
}
.sm-table-list-wrapper {
    background: #F1F1F1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
}
ul.sm-table-list {
    list-style: none;
    padding: 0;
}
ul.sm-table-list {
    float: left;
    width: 50%;
}
ul.sm-table-list:first-child {
    padding-right: 15px;
}
ul.sm-table-list li span.ghaico-ghaico-tick {
    color: #99AA00;
    margin-right: 10px;
}
ul.sm-table-list li span.ghaico-ghaico-close {
    color: #B9B9B9;
    margin-right: 10px;
}
span.ghaico-ghaico-play {
    font-size: 52px;
    color: #fff;
}
.team-list a.btn:hover {
    background: #CCD100;
    color: #fff !IMPORTANT;
}
.board_member-template-default .post-thumbnail img {
    max-width: 500px;
    margin: 0 auto;
}
.highlight-build .gform_wrapper form input {
    font-size: 14px !important;
    height: 42px;
    padding: 10px !important;
}
.builder-connect-form-wrapper {
    background: #ffffff;
    padding: 15px 30px;
    border-radius: 4px;
}
.gform_wrapper .top_label .gfield_label {
    font-size: 14px;
}
.gform_wrapper .gform_footer input[type=submit] {
    cursor: pointer;
}
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}
.gform_confirmation_message {
    color: #484848;
}
.popupEnquiry .modal-dialog.modal-dialog-centered.modal-lg {
    position: relative;
    width: auto;
    height: auto;
    max-width: 420px;
    margin: 0 auto;
}
.popupEnquiry .modal-header {
    position: relative;
    display: block;
    text-align: right;
}
.popupEnquiry .gform_body ul {
    list-style: none;
    padding: 0;
}
.popupEnquiry .gform_body ul.top_label label {
    display: none;
}
.popupEnquiry .gform_body input {
    width: 100%;
}
.popupEnquiry .gform_body input {
    width: 100%;
    height: 42px;
    padding: 15px;
    font-size: 14px;
}
.popupEnquiry .gform_body ul li.gfield {
    margin-bottom: 1rem;
}

/* -- LIGHT BOX -- --*/

.fancybox-custom-layout .fancybox-caption {
    background: #f2f2f2;
}
.number-style span.number-minus + input + span {
    font-size: 18px;
    margin: 0;
    width: auto;
    cursor: none;
}
/*span.number-minus.disabled + input + span {
    display: none;
}
.number-style span.disabled + input {
    color: #fff;
}*/
a.videoplay {
    display: block;
    cursor: pointer;
}
.hidecontroll::-webkit-media-controls-panel {
    display: none !important;
    opacity: 0 !important;
}

/*builder area*/
.builder-portal-header {
    background: #274279;
}
.builder-portalh {
    height: 80px;
}
.builder-portal-header .search-form input.form-control {
    height: 46px;
    text-indent: 25px;
    font-size: 12px;
    color: #999999;
    border-radius: 4px;
    border: 2px solid #999999;
    width: 100%;
}
.builder-portal-header h2 {
    font-size: 22px;
}
.builder-potal-body {
    background: #f2f2f2;
}
.portal-menu ul.menu {
    list-style: none;
    padding: 0;
}
.portal-menu .menu li:before {
    margin: auto;
    font-size: 24px;
    margin-left: 30px;
    color: #99AA00;
}
.portal-menu .menu li a {
    display: flex;
    width: 100%;
    padding: 20px 15px 20px 15px;
    margin: auto 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #484848;
}
.portal-menu .menu li.current-menu-item {
    background: #EFEFE8;
}
.portal-menu .menu li a:after {
    font-family: 'GHAICO' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e90d";
    font-size: 14px;
    float: right;
    margin: auto 0;
    margin-left: auto;
}
.builder-portal-resources ul {
    list-style: none;
}
.builder-portal-resources ul li {
    font-family: 'Lato', sans-serif;
}
.builder-portal-resources ul li a.ghaico-ghaico-download:before {
    content: "\e915";
    float: right;
    font-family: 'GHAICO' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.builder-portal-resources ul li a.ghaico-ghaico-download {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    color: #484848;
}
.builder-portal-resources .additional-info {
    margin-left: 40px;
}
.gha-builder-pdetails p,
.gha-builder-pdetails p a {
    color: #557700;
}
.gha-builder-pdetails {
    display: none;
    top: 80px;
    right: 0;
    z-index: 9;
    box-shadow: 0px 3px 13px 0px #000;
}
.builder-account:hover + .gha-builder-pdetails,
.gha-builder-pdetails:hover {
    display: block;
}
.gha-builder-pdetails:before {
    content: "\A";
    border-style: solid;
    border-width: 0px 15px 20px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -15px;
    right: 27%;
}
.portal-login-form {
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.13);
}
.portal-login-form img {
    width: 140px;
    margin-bottom: 2rem;
}
.portal-login-form label {
    margin-right: 0.5rem;
}
.portal-login-form input {
    padding: 0 0.5rem;
}
.portal-login-form input[type="submit"] {
    background: #557700;
    border: none;
    box-shadow: none;
    color: #ffffff !important;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 20px;
    -webkit-appearance: none;
    width: 140px;
    border-radius: 4px;
}

@media screen and (max-width: 1230px) {
    .home .video-container video.banner-video {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    .page-banner {
        min-height: 400px;
    }
    #masthead nav form.form-inline {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .menu-small {
        height: auto !important;
        opacity: 1 !important;
    }
}
@media screen and (max-width: 991px) {
    .hd_meta .meta-in {
        width: 21%;
    }
    .homed-specs h1,
    .homed-specs p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .homed-specs .hdhighlight-text {
        margin-left: 15px;
    }
    .home #section-1 video.banner-video {
        display: none;
    }
    .home #section-1 .video-container {
        background: transparent url(assets/images/video-bg-homep.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 500px;
    }
    .menu-small {
    display: none;
    }
    .menu-small {
        position: absolute;
        width: 90% !important;
        z-index: 99;
        min-height: 800px !important;
        background: #ffffff;
    }
    .builder-potal-body.display {
        background: rgba(0, 0, 0, 0.7);
    }
    .builder-potal-body.display .menu-small + div,
    .builder-potal-body.display .menu-small + div + div {
        opacity: 0;
    }
    .sm-bdetals .gha-builder-pdetails.display {
        display: block;
        top: 0;
        box-shadow: none;
        margin-top: 10px;
        padding: 1rem !important;
    }
    .sm-bdetals .gha-builder-pdetails:before {
        content: none;
    }
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
    h1,
    .h1 {
        font-size: 34px;
    }
    #section-1 {
        margin-bottom: 0;
    }
    #section-1 .banner-inner {
        top: 50%;
    }
    .home #section-1 .video-container {
        min-height: 390px;
    }
    .page-banner {
        min-height: 300px;
    }
     #section-7 .highlight-build .heading-1,
    .banner-inner .heading-1,
    .banner-text {
        padding: 0 15px;
        font-size: 36px;
    }
    .banner-text {
        padding: 30px 15px;
    }
    .page-banner-search {
        position: relative;
        bottom: 0 !important;
        box-shadow: none;
        background: #DDDDDD;
        border-radius: 0;
        max-width: 100%;
    }
    .page-banner-search .ghenquiry span {
        display: block;
        margin: 0 auto 1rem auto;
        max-width: 100%;
        text-align: center;
    }
    .page-banner-search .ghenquiry input#searchTextField1 {
        max-width: 100%;
        display: block;
        margin: 0 auto 1rem auto;
    }
    .page-banner-search .ghenquiry input.btn {
        max-width: 100%;
        width: 289px;
        display: block;
        margin: 0 auto;
    }
    #section-2 h1 {
        font-size: 34px;
        margin-bottom: 1rem;
    }
    #section-2 .certifications div{}
    #section-2 .one-half.half-left {
        padding-bottom: 2rem;
    }
    #section-2 .one-half.half-right {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .square.row span {
        font-size: 42px;
    }
    .list-wrapper {
        min-height: initial;
        padding-left: 60px;
    }
    .list-wrapper .v-text + h4 + p,
    .builder-benefits .list-wrapper p {
        display: none;
    }
    .list-wrapper h4 {
        font-size: 18px;
        margin: 5px 0;
    }
    .v-text {
        top: 60px;
        padding-top: 24px;
    }
    #section-3 .promises-background .row.row-eq-height:first-child > div:last-child .v-text {
        top: 64px;
    }
    #section-3 .promises-background .row.row-eq-height:last-child > div:last-child .v-text {
        top: 53px;
    }
    .list-wrapper.display p {
        display: block !important;
    }
    .section-headline h2 {
        line-height: 1.2;
    }
    .home-design {
        margin-bottom: 0;
    }
    .design-meta .meta-in {
        width: 50%;
        float: left;
        margin: 0 0 1rem 0;
    }
    .design-meta .meta-in span.mimg {
        margin-right: 0.7rem;
    }
    .subscribe h3 {
        margin-bottom: 2rem;
    }
    .subscribe input[type="text"],
    .subscribe input[type="email"],
    .subscribe input[type="submit"] {
        width: 100%;
        margin-bottom: 1rem;
    }
    .subscribe a.btn.btn-outline-success.my-2.my-sm-0 {
        width: 100%;
    }
  /* Place the timelime to the left */
  .timeline::after {
    left: 5px;
  }

  /* Full-width timeline-containers */
  .timeline-container {
    padding: 40px 0 40px 30px;
  }
  .timeline-container.left {
        text-align: left;
    }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-container.left::after, .timeline-container.right::after {
        left: -6px;
        top: 65px;
  }

  /* Make all right timeline-containers behave like the left ones */
  .timeline-container.right {
    left: 0%;
  }
  .timeline-image {
    position: relative;
    padding-left: 70px;
    padding-right: 25px;
  }
  .tmlr .timeline-image,
  .tmll .timeline-image {
    left: 0;
    right: 0;
  }
  .benefit-timeline,
  .benefit-timeline .container,
  .benefit-timeline .timeline,
  .benefit-timeline .timeline-wrapper,
  .benefit-timeline .timeline-container {
        width: 100%;
        float: left;
  }
  .benefit-timeline .content {
        float: left;
        max-width: 180px;
        padding: 0;
    }
    .timeline-image {
        display: none;
    }
    .timeline-container > img {
        display: block;
        width: 80px;
        float: left;
        margin-right: 1.4rem;
    }
    .timeline p {
       font-size: 18px;
    }
    .see-how-build {
        float: left;
        width: 100%;
    }
    #section-7 .highlight-build input {
        width: 100%;
        margin: 0.5rem 0 !important;
        text-align: center;
    }
    .builder-connect {
        margin-top: 3rem;
    }
    .builder-connect .wpcf7 {
        float: none;
    }
    .dh-search-wrapp form {
        display: none;
    }
    #mobile-filter-toggle {
        padding: 20px;
        font-weight: 700;
    }
    .m-filter #mobile-filter-toggle {
        color: #9a0;
        cursor: pointer;
    }
    .dh-search-wrapp form > div {
        width: 100%;
        /* border: 1px solid #e0e0e0; */
        padding: 1rem;
        text-align: center;
    }
    .modal-lg {
        max-width: 100%;
    }
    .page-contentt {
        padding: 15px 0;
    }
    .page-contentt .playicon {
        text-align: center;
    }
    .hero-nav a#hero-nav-dropdown {
        font-size: 20px;
        text-align: left;
        text-decoration: none;
        color: #fff;
    }
    .hero-nav a#hero-nav-dropdown span {
        float: right;
    }
    .hero-nav a#hero-nav-dropdown::after {
        display: none;
    }
    h3.h4 {
        font-size: 30px;
    }
    .environment-impact img {
        width: auto;
    }
    .gha-dh-ef {
        overflow: hidden;
        width: 100%;
        padding: 3rem 0;
    }
    /*.gha-b-p-tabs-wrap {
        padding: 3rem 0;
    }*/
    .gha-b-process-content {
        position: relative;
        margin-top: 0 !important;
        top: -30px;
        width: 90%;
        margin: 0 auto;
    }
    .gha-building-process-tab-nav {
        margin-bottom: 0 !important;
    }
    .blink {
        margin-bottom: 1.5rem;
    }
    #faq-accordion .btn {
        white-space: initial;
        text-align: left;
    }
    .page-template-customhomedesignpage .banner-text.text-center,
    .page-template-landscapingpage  .banner-text.text-center{
        text-align: left !important;
        margin: auto 0;
    }
    .page-banner .page-content p {
        margin: 0;
        line-height: 1.5;
    }
    .gha-ideology {
        margin-top: 4rem;
    }
    .gha-ideology .container-wrapper {
        max-width: 100%;
    }
    .ideology-text, .ideology-text p {
        padding: 0;
        font-size: 20px;
        line-height: 1.7;
    }
    .gha-ideology .ideo-item {
        height: 120px;
        max-width: 100% !important;
        display: block !important;
        flex: initial !important;
        margin-bottom: 1rem;
    }
    .ideo-item-bg {
        background-size: cover !important;
        display: flex;
        flex-direction: column!important;
    }
    .ideo-title {
        width: 100%;
        margin: auto 0;
        position: relative;
        bottom: initial;
    }
    .ideo-title span {
        font-size: 45px;
        float: right;
        margin: 0;
    }
    .ideo-title h3 {
        font-size: 18px;
        text-align: left;
        max-width: 160px;
        float: left;
    }
    .trending-design-insight .td-text {
        padding: 55px 35px;
        font-size: 28px;
    }
    .chd-steps-item span[class^="ghaico-"] {
        font-size: 40px;
    }
    .start-trial a.btn-trial {
        width: 100%;
    }
    .bg-image-display {
        display: block;
    }
    .sl-bg-r,
    .sl-bg-l {
        background: none !important;
    }
    .sl-bg-r .sl-bg-r-txt,
    .sl-bg-l .sl-bg-l-txt {
        padding: 60px 0 0 0;
    }
    .sl-bg-l {
        margin-bottom: 0;
    }
    .find-more1 .row > div {
        margin-bottom: 2rem;
    }
    .page-template-about-gha .gha-inner-inside .brand-icon {
        width: 33%;
        float: left;
        margin-top: 1rem;
    }
    .more-us .gha-inner-inside:first-child {
        margin-bottom: 60px;
    }
    .professional-team .gha-inner-inside h2 {
        font-size: 32px;
        line-height: 1.4;
    }
    .professional-team .gha-inner-inside p {
        font-size: 20px;
    }
    .more-us {
        padding: 60px 0 40px 0;
    }
    .sm-table-list-wrapper ul li {
        padding: 0.2rem 0;
    }
    #designs-nav.linked-menu {
        display: block !important;
    }
}
@media screen and (max-width: 520px) {
    body {
        font-size: 14px;
    }
    .home #section-1 .video-container {
        min-height: 275px;
    }
    li.nav-item.dropdown .dropdown-menu {
        width: 100%;
    }
    li.nav-item.dropdown .dropdown-menu a.dropdown-item {
        padding: 0 10px;
    }
    .dropdown-item-icon span {
        font-size: 18px;
    }
    .dropdown-item-icon + .dropdown-item-text-wr .text-medium {
        font-size: 16px;
    }
    .dropdown-item-icon + .dropdown-item-text-wr span {
        font-size: 12px !important;
    }
    #section-2 h2 {
        font-size: 20px;
    }
    #section-2 h2 + p {
        font-size: 14px;
    }
        .section-headline h2 {
        font-size: 34px;
    }
    .home-featured {
        width: 80%;
        margin: 0 auto;
    }
    .home-featured .button-list a.btn {
        width: 100%;
        margin-bottom: 1rem;
    }
    .page-template-about-gha .gha-inner-inside .brand-icon {
        width: 50%;
        float: left;
    }
    .hd_meta .meta-in {
        width: 45%;
    }
}
@media screen and (max-width: 374px) {
    li.nav-item.dropdown .dropdown-menu a.dropdown-item {
        padding: 7px 10px;
    }
    .dropdown-item-icon + .dropdown-item-text-wr span {
        display: none;
    }
    .dropdown-item-icon span {
         top: 4px;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1367px) {
    .page-template-about-gha .page-banner {
        padding: 80px 0;
    }
    .sl-bg-r .sl-bg-r-txt {
        padding: 220px 0;
    }
    .page-template-become-a-gha-builder .sl-bg-r-txt {
        padding: 150px 0;
    }
    .sl-bg-l .sl-bg-l-txt {
        padding: 280px 0;
    }
    .home .video-container video {
      transform: translateY(-30%);
    }
}
@media screen and (min-width: 1280px) {
    .testimonial-list .container {
        max-width: 1410px;
    }
    .page-template-greenhomesloanspage .page-banner {
        background-position: 100% 25% !important;
    }
}
@media screen and (min-width: 768px) {
    .customer-testimonial-slider {
        width: 80%;
        margin: 0 auto;
    }
    .dh-search-wrapp form {
        display: block !important;
    }
    .dh-search-wrapp {
        padding: 30px;
    }
    #mobile-filter-toggle {
        display: none;
    }
}
@media screen and (max-width: 960px) {
    .environment-impact {
        background-attachment: initial;
    }
}
